<section class="page-container friends">
  <h1>The Pack and Friends</h1>

  <ul class="friends-description">
    <li>
      <strong>Dog parks often are not the best choice</strong>
      <p>
        Ever notice that your whippet or greyhound doesn't want to play with dogs at the dog park, or that your iggie is terrified?
        Or worse, some dog gets jealous because they can't catch your sighthound, or even come close, and there is aggressive behavior?  Or the owner gets mouthy?
        Would you like to get your greyhound or whippet (or iggie) together with other sighthounds, and watch the poetry in motion that is the unique way they play together, zooming across the playground, in complete bliss?
      </p>
    </li>

    <li>
      <strong>Sighthounds <i>are</i> the best choice</strong>
      <p>
        It is truly something to see them run!
        Don't worry, there's nothing amiss about your sighthound: when asked to "fetch," they run next to where the ball is, and look at it, then look back at you as if to say, "It's right here, if you want it. Come get it. I don't <i>fetch.</i>"
        Greyhounds are the only dog breed spoken about in the Bible:
        <q>There are three things which are majestic in pace, yes, four which are stately in walk: A lion, which is mighty among beasts and does not turn away from any;</q>
        <a href="https://www.biblegateway.com/passage/?search=prov%2030%3A%2029-31&version=NKJV" target="_blank">a greyhound</a>...

      </p>
    </li>

    <li>
      <strong>Find your pack</strong>
      <p>
        We are hoping to expand our pack to include more of these super athletes to come and play.
        Or it may be that you want to bring your own pack at first, and let them enjoy the grounds privately, then see where it goes?
      </p>
    </li>

    <li>
      <strong>Controlling dogs</strong>
      <p>
        Everyone loves cattledogs or sheepdogs, but, let's face it, sighthounds do not tolerate fools!
        <q>If you need to <i>herd</i> something, find someone else...</q>
        And then there are the owners who don't have control over their dogs, who are not good citizens of dog parks.
      </p>
    </li>

    <li>
      <strong>Out of town friends</strong>
      <p>
        If you are passing through the Space Coast of Central Florida and you need a safe place to let your pack stretch their legs, this is your spot!
        We keep the grounds picked up from excrement and only allow healthy dogs having shots, so we expect there to be more safety here than an unknown dog park.
      </p>
    </li>

    <li>
      <strong>Meetup</strong>
      <p>
        You may enjoy scheduling a play date when other sighthounds are also here, forming a pack of the fastest zoomies in the greater Melbourne / Palm Bay area.
      </p>
      <p>
        You may also enjoy learning about which vet offices in this area have vets that are uniquely skilled in the <a href="https://greyhoundhealthinitiative.org/blog/2018/10/greyhounds-really-are-not-like-other-dogs" target="_blank">strange norms</a> that are our sighthounds.
        We have our oponion about the <a href="https://palmbayanimalclinic.com/" target="_blank">best local vet</a> for sighthounds, and would love to <a href="https://www.petmd.com/blogs/nutritionnuggets/dr-coates/2014/march/risks-and-benefits-raw-meat-diets-dogs-31455" target="_blank">compare notes about raw feeding,</a> which may prove to reduce actual visits to the vet, and top-top performance.
      </p>
    </li>
  </ul>

  <div class="friends-image">
    <img src="assets/images/trusted-vet.jpg" alt="Palm Bay Animal Clinic">
  </div>
</section>
