<mat-toolbar color="primary">
  <a routerLink="/" class="site-title">
    Andrew Carey Portfolio
  </a>
  <span class="spacer"></span>

  <a mat-button 
     routerLink="/" 
     routerLinkActive="active-link" 
     [routerLinkActiveOptions]="{ exact: true }">
     Home
  </a>

  <a mat-button 
     routerLink="/about" 
     routerLinkActive="active-link">
     About
  </a>

  <a mat-button 
     routerLink="/projects" 
     routerLinkActive="active-link">
     Projects
  </a>

  <a mat-button 
     routerLink="/contact" 
     routerLinkActive="active-link">
     Contact
  </a>
</mat-toolbar>

<main style="padding: 16px;">
  <router-outlet></router-outlet>
</main>
