<section class="page-container home">
  <h1>Andrew Carey</h1>
  <p class="tagline">Full-Stack Developer | Angular, AWS, C#, Node.js </p>

  <p>
    Welcome to my portfolio. I'm an experienced software developer with a passion for building responsive web applications using Angular, cloud services like AWS, and best practices in testing and CI/CD.
  </p>

   <p>
    I'm certified as an <strong>AWS Solutions Architect – Associate</strong> and <strong>AWS Developer</strong> (Cert# AWS04451634), and a <strong>Microsoft Certified Technology Specialist (MCTS)</strong> in C#, SQL Server, and Web Development (Cert# 347569).
  </p>

  <p>
    I also completed formal training for the CAPM project management certification, gaining a strong foundation in PMI-aligned workflows.  I ran my own consulting operation for five years.
  </p>

  <p>
    Whether it's enterprise-grade tools or grassroots tech, I enjoy solving problems with clean code and scalable architecture.
  </p>

</section>