<section class="page-container track">
  <h1>The Track and Grounds</h1>

  <ul>
    <li>Parking</li>
    <li>Viewing Area</li>
    <li>Playsafe Ground Cover</li>
    <li>Water and cooling station</li>
  </ul>

  <div class="gallery">    
    <figure>
      <img src="assets/images/track/turn1.jpg" alt="Track view 1">
      <figcaption>Turn 1</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/turn2.jpg" alt="Track view 2">
      <figcaption>Turn 2</figcaption>
    </figure>
        <figure>
      <img src="assets/images/track/turn3.jpg" alt="Track view 3">
      <figcaption>Turn 3</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/turn4.jpg" alt="Track view 4">
      <figcaption>Turn 4</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/turn5.jpg" alt="Track view 4">
      <figcaption>Turn 5</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/turn6.jpg" alt="Track view 4">
      <figcaption>Turn 6</figcaption>
    </figure>    <figure>
      <img src="assets/images/track/starting-gate.jpg" alt="Track view 5">
      <figcaption>Starting Gate</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/front-straight.jpg" alt="Track view 6">
      <figcaption>Front Straight</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/bamboo-shortcut.jpg" alt="Track view 6">
      <figcaption>Bamboo Shortcut</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/bamboo-straight.jpg" alt="Track view 6">
      <figcaption>Bamboo Straight</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/bamboo-straight2.jpg" alt="Track view 6">
      <figcaption>Bamboo Straight</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/banana-shortcut.jpg" alt="Track view 6">
      <figcaption>Banana Shortcut</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/deck-straight.jpg" alt="Track view 6">
      <figcaption>Deck Straight</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/east-straight.jpg" alt="Track view 6">
      <figcaption>East Straight</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/front-straight.jpg" alt="Track view 6">
      <figcaption>Front Straight</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/hound-playground.jpg" alt="Track view 6">
      <figcaption>Hound Playground</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/playground.jpg" alt="Track view 6">
      <figcaption>Hound Playground</figcaption>
    </figure>    <figure>
      <img src="assets/images/track/playground2.jpg" alt="Track view 6">
      <figcaption>Hound Playground</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/track1-backside.jpg" alt="Track view 6">
      <figcaption>Track Back</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/viewing-gallery.jpg" alt="Track view 6">
      <figcaption>Viewing Area</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/west-return.jpg" alt="Track view 6">
      <figcaption>West Return</figcaption>
    </figure>
    <figure>
      <img src="assets/images/track/north-straight.jpg" alt="Track view 6">
      <figcaption>North Straight</figcaption>
    </figure>    <figure>
      <img src="assets/images/track/west-straight.jpg" alt="Track view 6">
      <figcaption>West Straight</figcaption>
    </figure>
  </div>
</section>